@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Empleado

<h1 style="color: blue">Details</h1>

<a asp-controller="Empleados" asp-action="Index">Back to list</a>

<ul class="list-group">
    <li class="list-group-item">
        Id: @Model.IdEmpleado
    </li>
    <li class="list-group-item">
        Apellido: @Model.Apellido
    </li>
    <li class="list-group-item">
        Oficio: @Model.Oficio
    </li>
    <li class="list-group-item">
        Salario: @Model.Salario
    </li>
    <li class="list-group-item">
        Departamento: @Model.IdDepartamento
    </li>
</ul>