@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Enfermo

<h1>Details Enfermo</h1>
<ul class="list-group">
    <li class="list-group-item">
        Inscripcion: @Model.Inscripcion
    </li>
    <li class="list-group-item">
        Apellido: @Model.Apellido
    </li>
    <li class="list-group-item">
        Direccion: @Model.Direccion
    </li>
    <li class="list-group-item">
        Fecha nacimiento: @Model.FechaNacimiento
    </li>
    <li class="list-group-item">
        Sexo: @Model.Sexo
    </li>
    <li class="list-group-item">
        Numero seguridad social: @Model.NumeroSeguridadSocial
    </li>
</ul>